# Config files with secrets
config.json
application.yml
daily.json

# Lavalink
Lavalink.jar

# Build output
bin/
obj/
csharp_stinky_doodoo.csproj.lscache


# IDE
.vs/
.vscode/
*.user

# Other
commit.ps1
start.bat
